.collapsible-img {
    padding: 4px;
    border: 1px dashed lightgrey
}

.expand-collapse-btn {
    cursor: pointer;
}

.icon-image-collapsible {
    background-image: url('../images/image_collapsible.png');
    display: inline-block;
    width: 18px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.collapsible-highlighted {
    background-color :#ffff66;
    transition: background-color 1s ease;
}