.collapsible-img {
    border: 1px dashed lightgrey
}

.icon-image-collapsible {
    background-image: url('../images/image_collapsible.png');
    display: inline-block;
    width: 18px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.jstb_questions_macro {
    background-image: url('../images/questions_macro.png');
    background-size: 18px;
}

.jstb_questions_macro_arg {
    background-image: url('../images/questions_macro_arg.png');
    background-size: 18px;
}