.jstb_questions_macro {
    background-image: url('../images/questions_macro.png');
    background-size: 18px;
}

.jstb_questions_macro_arg {
    background-image: url('../images/questions_macro.png'), url('../images/questions_macro_timer.png');
    background-size: 18px 18px, 18px 18px;
    background-position: center left, center right !important;
    width: 38px !important;
}

.reply-btn {
    cursor: pointer;
}

.answer-macro {
    border: 1px solid lightgrey;
    padding: 2px;
    background-color: greenyellow;
}

.questions-macro {
    border: 1px solid lightgrey;
    padding: 2px;
    background-color: yellow;
}

.questions-answered {
    background-color: #85d1ff;
}

.questions_system_info {
    border-top: 1px lightgray solid;
    color: darkgray;
}

span.jstb_questions_macro {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

/* On tablets or phones, not all the tabs from the editor are displayed: "overflow: hidden" is the cause */
@media only screen and (max-width: 1000px) {
    #content .jstTabs.tabs {
        height: 45px;
        overflow-y: hidden;
        overflow-x: auto;
    }
}